<p>Hi <%= @to_email %>!</p>
<p>
  This is an automated email. Here is the current summary of data collection for your pod:
</p>

<table>
  <thead>
    <tr>
      <th>Tester</th>
      <th>Demographics</th>
      <th>Facial Data</th>
      <th>Masks that have data</th>
    </tr>
  </thead>
  <tbody>
    <% @progresses.each do |progress| %>
      <tr>
        <td>
          <%= "#{progress['first_name']} #{progress['last_name']}"%>
        </td>
        <td>
          <%= progress['demog_percent_complete'] || '0' %>%
        </td>
        <td>
          <%= progress['fm_percent_complete'] || '0' %>%
        </td>
        <td>
          <%= progress['fit_testing_percent_complete'] || '0'%>%
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Check out <a href="https://breathesafe.xyz/#/respirator_users">https://breathesafe.xyz/#/respirator_users</a> for more details.</p>

<p>
I look forward to having you complete the testing. If your pod has just started testing masks, you might be interested in
looking at the <a href="https://breathesafe.xyz/#/onboarding">onboarding doc</a>.
</p>

<p>On the other hand, if you're closer to the end, you might notice that there are still untested masks listed in the UI. Some of those masks might not have been added to your pod's kit. You can mark them as such in the
<a href="https://breathesafe.xyz/#/fit_tests?tabToShow=Untested">Untested masks page</a>.
</p>

<div>
Regards,
</div>
<br>
<div>
Edderic Ugaddan
</div>
<div>
Breathesafe LLC
</div>
