<!DOCTYPE html>
<html>
  <head>
    <title>Breathesafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=0.75,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <link rel="icon" href="https://breathesafe.s3.us-east-2.amazonaws.com/images/pin.svg" type="image/x-icon">
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>
  </body>
</html>
